{% extends "base.html" %}
{% load i18n thumbnail %}

{% block content %}

{% for gallery in object_list %}
    <div>
        {% if gallery.get_folder_images.all %}
            <img src="{% thumbnail gallery.get_folder_images.all.0.file 100x100 crop upscale %}" alt="" />
        {% endif %}
        <h2><a href="{% url "image_gallery:image_gallery_detail" slug=gallery.slug %}">{{ gallery.title }}</a></h2>
        <span>{% if gallery.date %}{{ gallery.date|date }}, {% endif %}{{ gallery.location }}</span>
    </div>
{% endfor %}

{% endblock  %}
