{% extends "base.html" %}
{% load thumbnail %}


{% block content %}

<h1>{{ image.title }}</h1>

<img src="{% thumbnail image 640x480 crop upscale %}" alt="">
<br>
Name: {% firstof image.name image.original_filename %}
<br>
Description: {{ image.description }}
<br>
default_alt_text: {{ image.default_alt_text }}
<br>
Caption: {{ image.caption }}

{% if gallery.get_folder_images_count > 1 %}
<div class="pagination">
    {% if prev_image %}
    <a href="{% get_slug prev_image gallery %}">
        <span class="icon"><</span>
        {{ prev_image }}
    </a>
    {% endif %}
    {% if next_image %}
    <a href="{% get_slug next_image gallery %}">
        {{ next_image }}
        <span class="icon">></span>
    </a>
    {% endif %}
</div>
{% endif %}

{% endblock %}